In [1]:
import requests
import time
import pandas as pd
from yelp_helper import YelpHelper

In [2]:
api_key = "F6vsTDv2v2j-VjULctcSCUEmRRFs6bQ9tYQdHheyD0li2QNT-W7_BJcKa9zC7q626CFBv78g0iQ2GXFND9L3ZR-NAY0tTEZGUZ9nIYqb2GUB96m6XrgATcP_UOztYXYx"

In [3]:
yelp_helper = YelpHelper()

In [4]:
def paginated_yelp_search(location, total=50, step=10):
    ids = []
    for offset in range(0, total, step):
        businesses = yelp_helper.yelp_search(location, limit=step, offset=offset)
        for business in businesses:
            ids.append(business['id'])
        time.sleep(0.2)
        
    return ids

In [5]:
ids = paginated_yelp_search("Chicago")
print(ids)
print(len(ids))

['qjnpkS8yZO8xcyEIy5OU9A', 'cKZNbMvoqJaUe7n6lf6i7w', 'xoi7Cw7FoknAx5p880RtWQ', 'boE4Ahsssqic7o5wQLI04w', '8vFJH_paXsMocmEO_KAa3w', 'apyIymDFbUK7u-Y3V5kmkA', 'AkcZ1fUyB3RocKLYGFu20Q', 'y8jVBaHh8ntYkVqDXpsi1Q', 'LPwAwxEjetjdNh7Uadro3g', '-sdMTRmgExufOk6STZFi9w', 'DXwSYgiXqIVNdO9dazel6w', 'ziIfrqtyupmeNlPAOx6jTw', 'pbEiXam9YJL3neCYHGwLUA', '2tKMs0DbdxPSl2JeCJUEKw', 'pVPyt3TugMd8FW5LGznkQQ', 'WBU0yq9J8qiYQfI_fh2P1Q', 'rp17Dfjdh7JR4GGZwj6nqg', 'LYppbvgJlBG0SqjSKFiFGg', 'jGiKIJCVLZHXQDSNnSLPsw', 'ULEy88tbRkbwnDOOBdUCUQ', 'vvhfPV-Llkd4fE2SHuLVvA', '2DfcXGtDv7T_rnvl4lHzaQ', 'B_04jjMZjeGGKjaPcR3Kig', 'Z2nOMPedr7XYhgYhILJjEA', '9SY1qjFBIo8W48W6OTGWGg', 'bQaiow1WcwwSODUo9hHOMQ', 'mvFimrcREBIDo-pLAhMfNg', 'f1P5hZSitUEAC-mtXlBB7w', 'q7SQnw2xVHjWuyQXL3VHUg', 'dux6UvpMGJuHquFA3JfR3A', 'F7IQngaDDBgYvhA3U31q-g', 'oEFJ29zAQaCNnQzebHQvpg', 'LMaoM2Ue2BR_HI9ba3JsZg', 't2nXebM7aqTj_qq6saZ89g', '4i1Ny2zIE1VJSU9gLMkHqg', 'dKcO9OQ44RPRlkWe-vToFA', 'm5_GCJP2W4zEJnyVgxa3eA', 'QNbWTNuAEMWOurHN8rMXnA', '7vsOVA4wrHP6f3DMQdD8og', 'XKUZV9O2sRFLDIpAmwmG5g', 'zXDVdB7jofrt1IWODlOtUA', 'PZe0q_153VHUnaR-8dOTJg', '1hJYOI26FjCQ-Ce6iKAvug', 'lgjRFg3M-1N416W41DHsTQ', 'JfNZVzh052lwZKpIMgsA1g', '_d5Br6nZWpBNwL-4isroJA', 'cyoEeLb5rc9ZAeTO2dkEUQ', 'o54U2VkQama8FI30qDkWvw', '9mhqcimD0CYvqxzfj_VXnQ', 'cxAkuwv7p4gm4Coixw7h9A']
50

In [6]:
def get_reviews_df(ids):
    reviews = []
    for business_id in ids:
        new_reviews = yelp_helper.yelp_reviews_by_id(business_id)
        reviews = reviews + new_reviews
        time.sleep(0.2)
    return pd.DataFrame(reviews, columns=['Review'])

In [7]:
df = get_reviews_df(ids)
df

                                                Review
0    Absolutely recommend this restaurant. Food is ...
1    Worth it! I came here at opening time with my ...
2    The food was out of this world tasty. The gree...
3    Great portion sizes but expect to wait a while...
4    The food is amazing! I always go on Sundays. T...
..                                                 ...
145  The food is absolutely delicious and what a gr...
146  I was very impressed with this place. Based on...
147  As a guy that calls Texas home, I don't have t...
148  Food first:\nThe classic pizza had so much ooe...
149  Had not been to Chicago in nearly 20 years, an...

[150 rows x 1 columns]

In [8]:
df.to_csv("reviews.csv")